body {
			background-color: #F7F7F7;
		}
		nav {
			background-color: white !important;
		}

		h1 {
			text-align: center;
			padding-top: 50px;
		}

		form {
			margin: 0;
		}

		#inputArea {
			max-width: 450px !important;
			margin: 0 auto;
			display: block;
			padding-top: 50px;
		}

		.form-group {
			padding: 30px !important;

		}

		label {
			padding-top: 10px !important;
		}

		#submitButton {
			margin-top: 40px;
			width: 100%;
		}
