body {
			background-color: #F7F7F7;
		}
		nav {
			background-color: white !important;
		}

		h1 {
			text-align: center;
			padding-top: 50px;
		}

		form {
			margin: 0 auto;
			width:750px;
			text-align: center;
		}


		#inputArea {
			max-width: 450px !important;
			margin: 0 auto;
			display: inline-block;
			padding-top: 40px;
		}

		.form-group {
			padding: 40px !important;
			
		}

	
		label {
			padding-top: 10px !important;
		}

		#submitButton {
			margin-top: 40px;
			width: 100%;
		}